# Capstone 2

## Preprocessing and Training Data Development
In this step, the data will be preprocessed with the following steps:

1. Create dummy or indicator features for categorical variables
2. Standardize the magnitude of numeric features using a scaler (z-scoring)
3. Split the data into test and training datasets

In [3]:
import pandas as pd
reds = pd.read_csv('../downloads/DataFolder/winequality-red.csv',sep=';')
whites = pd.read_csv('../downloads/DataFolder/winequality-white.csv',sep=';')
whites['type'] = 'white'
reds['type'] = 'red'

all_wines = pd.concat([whites,reds])

## Create dummy features

In [8]:
all_wines = pd.get_dummies(all_wines,drop_first=True)
all_wines.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type_white
1117,8.1,0.450,0.34,8.30,0.037,33.0,216.0,0.99760,3.31,0.64,9.7,5,1
2363,6.7,0.240,0.26,12.60,0.053,44.0,182.0,0.99802,3.42,0.42,9.7,5,1
242,7.7,0.580,0.10,1.80,0.102,28.0,109.0,0.99565,3.08,0.49,9.8,6,0
4470,4.7,0.145,0.29,1.00,0.042,35.0,90.0,0.99080,3.76,0.49,11.3,6,1
456,8.9,0.590,0.39,2.30,0.095,5.0,22.0,0.99860,3.37,0.58,10.3,5,0
3993,6.7,0.280,0.34,8.90,0.048,32.0,111.0,0.99455,3.25,0.54,11.0,7,1
1493,7.7,0.540,0.26,1.90,0.089,23.0,147.0,0.99636,3.26,0.59,9.7,5,0
3552,5.7,0.220,0.22,16.65,0.044,39.0,110.0,0.99855,3.24,0.48,9.0,6,1
1833,7.4,0.490,0.24,15.10,0.030,34.0,153.0,0.99530,3.13,0.51,12.0,7,1
3521,5.9,0.230,0.24,3.80,0.038,61.0,152.0,0.99139,3.31,0.50,11.3,7,1

## Center and scale the data

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

columns_to_scale = set(all_wines.columns)
unscaled_columns = set(['quality','type_white'])
columns_to_scale = list(columns_to_scale - unscaled_columns)

std_data = pd.DataFrame(scaler.fit_transform(all_wines[columns_to_scale]),columns = columns_to_scale)
std_data.index = all_wines.index
std_data['quality'] = all_wines['quality']
std_data['type_white'] = all_wines['type_white']
std_data.sample(5)

,volatile acidity,pH,density,sulphates,total sulfur dioxide,residual sugar,free sulfur dioxide,citric acid,alcohol,chlorides,fixed acidity,quality,type_white
782,-0.726906,0.942306,1.501902,1.940474,1.101525,2.008805,1.604385,0.353506,-0.831615,-0.086605,-0.243230,7,1
1772,0.366496,-1.110254,0.267928,-0.680592,1.101525,0.852721,0.083090,-0.403514,0.342271,0.084672,0.451036,6,1
2742,-0.666161,0.258120,0.167876,1.268406,0.871507,-0.576620,1.040942,-0.265874,-0.831615,-0.229336,0.605317,6,1
3491,-0.848395,-0.799260,-1.039418,-1.419867,-0.083949,-0.933956,-0.367664,0.835246,0.593818,0.027580,0.605317,6,1
793,1.581387,1.004505,0.564749,0.193097,-1.817925,-0.597640,-1.325517,-2.192833,0.258422,-0.029513,0.373895,5,0

## Split the data into training and test sets

In [28]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(std_data)

std_data.to_csv('../data/std_data.csv')
Xtrain.to_csv('../data/X_train.csv')
Xtest.to_csv('../data/X_test.csv')
ytrain.to_csv('../data/y_train.csv')
ytest.to_csv('../data/y_test.csv')

ValueError: not enough values to unpack (expected 4, got 2)